h1 {
  margin: 0 auto 0 auto;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 5.625rem;
  color: #2d4059;
  line-height: 2;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #66BFBF;
}

h3 {
  font-size: 25px;
  color: #11999E;
  text-align: left;
}

p {
  font-size: 20px;
  text-align: left;
  color: #40514E
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 10%;
  border-width: 5px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.imgProfile {
  width: 250px;
  height: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.img-left {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-right {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-Container {
  background-color: #5eaaa8;
  position: relative;
  padding-top: 100px
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 100px;
  line-height: 2;
  padding-top: 50px;
}

.pro {
  text-decoration: underline;
}

.bottom-Cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-Cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.presentation {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.contact-me {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 25px;
  color: white;
  background-color: #66BFBF;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  margin-bottom: 50px;
}

.footer-link {
  color: #EAF6F6;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: 25%;
  left: 53%;
  margin-left: -150px;
  margin-bottom: 20px;
}

.top-images {
  width: 10%;
  height: 10%;
  margin: 5% 5% 10% 5%;
}

.programador {
  color: #a35d6a;
  font-weight: bold;
}
